<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">  
    
    <title>Estudiantes</title>
</head>
<body>
    
    <h3>Mostrar Estudiantes</h3>

    <div class="container">
        <table class="table">
            
        {% for estudiante in estudiantes %}
        <tr>
            <td>{{estudiante.nombre}}</td>
            <td>{{estudiante.email}}</td>
            <td>{{estudiante.codigo}}</td>
        </tr>
        {% endfor %}
        </table>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>