<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Nuevo Estudiante</title>
</head>
<body>
    
    <h3>Agregar Nuevo Estudiante</h3>

    <div class="container">
    <form action="{{request.path}}" method="post">

        <!--Controles: Nombre, email, codigo-->

        <label for="nombre">Nombre: </label><input class="form-control" type="text" name="nombre"/>
        <label for="email">E-mail: </label><input class="form-control" type="text" name="email"/>
        <label for="codigo">Código Estudiantil: </label><input class="form-control" type="text" name="codigo"/>
        <input type="submit" value="Agregar" class="btn btn-primary"/>

    </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
</body>
</html>